header {
  background-color: #ccc;
  height: 150px;
}

.btn {
  width: 250px;
  background: orange;
  border-radius: 30px;
  margin-top: -15px;
}

footer {
  background-color: #ccc;
  height: 100px;
}
