header {
  background-color: #ccc;
  height: 150px;
}

/* name style */
#name {
  font-size: 36px;
  color: #4d4e4f;
}

/* button styles */
.btn {
  width: 250px;
  background: orange;
  border-radius: 30px;
  margin-top: -15px;
  color: white;
}

.btn a {
  color: white;
}

.btn a:hover {
  color: white;
  text-decoration: none;
}

/* font-awesome style */
i {
  padding: 10px;
}

.fa-map-marker-alt {
  color: orange;
}
/* size of google map */
#map {
  height: 500px;
  width: 100%;
}

a {
  color: orange;
}

footer {
  background-color: #ccc;
  height: 100px;
}
